<script lang="ts">
	import '../app.pcss';
	import { Navbar, NavLi, NavUl, NavHamburger, Modal, Label, Input, Button } from 'flowbite-svelte';
	import { toast, SvelteToast } from '@zerodevx/svelte-toast';
	import { onMount } from 'svelte';
	import { set_running_with_tauri, pull_data } from '$lib/utils';

	onMount(() => {
		set_running_with_tauri();
		init();
	});

	function init() {
		let data = localStorage.getItem('address');
		address = data == null ? '' : data;
	}

	async function submit() {
		localStorage.setItem('address', address);
		disabled = true;
		let resp = await pull_data(address);
		disabled = false;
		open = false;
		if (!resp.ok) {
			toast.push(`Failed to pull data: ${resp}`);
		}
	}

	let disabled = false;
	let open = false;
	let address = '';
</script>

<div>
	<Modal
		bind:open
		title="Pull data from another server"
	>
		<form>
			<div>
				<Label>Server Address</Label>
				<Input bind:value={address} />
			</div>
			<Button
				{disabled}
				on:click={submit}
				type="submit">Pull</Button
			>
		</form>
	</Modal>
	<Navbar>
		<NavHamburger></NavHamburger>
		<NavUl>
			<NavLi href="/">Meals</NavLi>
			<NavLi href="/categories.html">Categories</NavLi>
			<NavLi href="/ingredients.html">Ingredients</NavLi>
			<NavLi
				class="cursor-pointer"
				on:click={() => (open = true)}>Pull Data</NavLi
			>
		</NavUl>
	</Navbar>
	<SvelteToast></SvelteToast>
	<slot />
</div>
