<script lang="ts">
	import {
		call_backend,
		get_categories,
		get_meals,
		Month,
		all_months,
		SelectItem,
		recompute_seasons
	} from '$lib/utils';
	import Meat from '$lib/icons/Meat.svelte';
	import Light from '$lib/icons/Light.svelte';
	import AddMeal from '$lib/AddMeal.svelte';
	import { onMount } from 'svelte';
	import {
		Modal,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { PenSolid, TrashBinSolid, ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import { Label, Select, Button } from 'flowbite-svelte';
	import { writable, type Writable } from 'svelte/store';
	import type { Meal } from '$lib/bindings/Meal';
	import type { Category } from '$lib/bindings/Category';

	onMount(() => {
		setup_meals();
	});

	async function setup_meals(): Promise<void> {
		// Ensure to have the categories first
		categories = (await get_categories()).expect('Failed to get categories');
		if (categories == null) return;
		select_categories = [
			{ value: 0, name: 'All' },
			...categories.map((x) => new SelectItem(x.name, Number(x.id)))
		];

		// Get the meals
		let meals: Meal[] = (await get_meals(current_month)).expect('Failed to get meals');
		if (meals == null) return;

		$sortItems = meals.slice();
	}

	async function delete_meal(meal: Meal): Promise<void> {
		popup_modal = true;
		meal_to_delete = meal.id;
	}

	async function edit_meal(meal: Meal): Promise<void> {
		meal_to_edit = meal;
		open_edit = true;
	}

	async function delete_meal_no_confirmation(): Promise<void> {
		await call_backend('DELETE', `/meal/${meal_to_delete}`, null, 'Failed to delete meal', true);
		setup_meals();
	}

	const sortKey: Writable<string> = writable('name'); // default sort key
	const sortDirection: Writable<number> = writable(1); // default sort direction (ascending)
	let sortItems: Writable<Meal[]> = writable([]); // make a copy of the items array

	// Define a function to sort the items
	const sortTable = (key: string) => {
		// If the same key is clicked, reverse the sort direction
		if ($sortKey === key) {
			sortDirection.update((val) => -val);
		} else {
			sortKey.set(key);
			sortDirection.set(1);
		}
	};

	$: {
		const key = $sortKey;
		const direction = $sortDirection;
		const sorted = [...$sortItems].sort((a, b) => {
			// @ts-expect-error I want to be able to handle any field
			const aVal = a[key];
			// @ts-expect-error I want to be able to handle any field
			const bVal = b[key];
			if (aVal < bVal) {
				return -direction;
			} else if (aVal > bVal) {
				return direction;
			}
			return 0;
		});
		sortItems.set(sorted);
	}

	let current_month: Month = all_months[new Date().getMonth()];
	let select_months = [
		{ value: null, name: 'All' },
		...all_months.map((x, i) => {
			return { value: i, name: x };
		})
	];

	let open_edit = false;
	let meal_to_edit: Meal;
	let meal_to_delete: null | number = null;
	let popup_modal = false;
	let categories: Category[] = [];
	let select_categories: SelectItem[] = [];
	let filtered_category: number = 0;
	let searchTerm = '';
	$: filteredMeals = $sortItems.filter((meal: Meal) => {
		let category = filtered_category === 0 || meal.category_id == filtered_category;
		let name = meal.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
		return name && category;
	});
	const svg_size = '30px';
</script>

<div>
	<Modal
		bind:open={popup_modal}
		size="xs"
		autoclose
	>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				Are you sure you want to delete this meal?
			</h3>
			<Button
				on:click={delete_meal_no_confirmation}
				color="red"
				class="me-2">Yes, I'm sure</Button
			>
			<Button
				on:click={() => {
					meal_to_delete = null;
				}}
				color="alternative">No, cancel</Button
			>
		</div>
	</Modal>
	<div class="container">
		<AddMeal
			bind:open={open_edit}
			bind:categories
			bind:meal={meal_to_edit}
		/>
		<Label class="space-y-2 text-right">
			<span>Month</span>
			<Select
				class="mt-2"
				items={select_months}
				on:change={setup_meals}
				bind:value={current_month}
			/>
		</Label>
		<Label class="space-y-2 text-right">
			<span>Category</span>
			<Select
				class="mt-2"
				items={select_categories}
				bind:value={filtered_category}
			/>
		</Label>
		<Button
			on:click={async () => {
				await recompute_seasons();
				location.reload();
			}}
		>
			Recompute Seasons
		</Button>
	</div>
	<TableSearch
		placeholder="Search by name"
		hoverable={true}
		bind:inputValue={searchTerm}
	>
		<TableHead>
			<TableHeadCell on:click={() => sortTable('name')}>Name</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('light')}>Light</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('meat')}>Meat</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('month_start')}>Start</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('month_end')}>End</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('source')}>Source</TableHeadCell>
			<TableHeadCell></TableHeadCell>
		</TableHead>
		<TableBody>
			{#each filteredMeals as meal}
				<TableBodyRow>
					<TableBodyCell>{meal.name}</TableBodyCell>
					<TableBodyCell>
						{#if meal.light}
							<Light width={svg_size} />
						{/if}
					</TableBodyCell>
					<TableBodyCell>
						{#if meal.meat}
							<Meat width={svg_size} />
						{/if}
					</TableBodyCell>
					<TableBodyCell>{all_months[meal.month_start]}</TableBodyCell>
					<TableBodyCell>{all_months[meal.month_end]}</TableBodyCell>
					<TableBodyCell>{meal.source}</TableBodyCell>
					<TableBodyCell>
						<button on:click={() => delete_meal(meal)}>
							<TrashBinSolid />
						</button>
						<button on:click={() => edit_meal(meal)}>
							<PenSolid />
						</button>
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>

<style>
	.container {
		column-count: 3;
	}
</style>
