<script lang="ts">
	import { call_backend, get_ingredients, all_months } from '$lib/utils';
	import { onMount } from 'svelte';
	import {
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { TrashBinSolid } from 'flowbite-svelte-icons';
	import { toast } from '@zerodevx/svelte-toast';
	import { Button, Modal } from 'flowbite-svelte';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import type { Ingredient } from '$lib/bindings/Ingredient';
	import AddIngredient from '$lib/AddIngredient.svelte';

	onMount(() => {
		setup_ingredients();
	});

	async function delete_ingredient(ingredient: Ingredient): Promise<void> {
		if (ingredient.id === null) {
			toast.push('Ingredient id is null');
			return;
		}
		popup_modal = true;
		ingredient_to_delete = ingredient.id;
	}

	async function delete_ingredient_no_confirmation(): Promise<void> {
		(
			await call_backend(
				'DELETE',
				`/ingredient/${ingredient_to_delete}`,
				null,
				'Failed to delete ingredient',
				true
			)
		).expect('Failed to delete ingredient');
		setup_ingredients();
	}

	async function setup_ingredients() {
		ingredients = (await get_ingredients()).expect('Failed to get ingredients');
	}

	let ingredient_to_delete: null | number = null;
	let popup_modal = false;
	let ingredients: Ingredient[] = [];
	let searchTerm: string = '';
	$: filteredIngredients = ingredients.filter(
		(ingredient) => ingredient.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1
	);
</script>

<div>
	<Modal
		bind:open={popup_modal}
		size="xs"
		autoclose
	>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				Are you sure you want to delete this ingredient?
			</h3>
			<Button
				on:click={delete_ingredient_no_confirmation}
				color="red"
				class="me-2">Yes, I'm sure</Button
			>
			<Button
				on:click={() => {
					ingredient_to_delete = null;
				}}
				color="alternative">No, cancel</Button
			>
		</div>
	</Modal>
	<AddIngredient />
	<TableSearch
		placeholder="Search by name"
		hoverable={true}
		bind:inputValue={searchTerm}
	>
		<TableHead>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Month Start</TableHeadCell>
			<TableHeadCell>Month End</TableHeadCell>
			<TableHeadCell>Unit</TableHeadCell>
			<TableHeadCell></TableHeadCell>
		</TableHead>
		<TableBody>
			{#each filteredIngredients as ingredient}
				<TableBodyRow>
					<TableBodyCell>{ingredient.name}</TableBodyCell>
					<TableBodyCell>{all_months[ingredient.month_start]}</TableBodyCell>
					<TableBodyCell>{all_months[ingredient.month_end]}</TableBodyCell>
					<TableBodyCell>{ingredient.unit}</TableBodyCell>
					<TableBodyCell>
						<div on:click={() => delete_ingredient(ingredient)}>
							<TrashBinSolid />
						</div>
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>
