<script lang="ts">
	import { call_backend, get_categories, get_meals } from '$lib/utils';
	import { onMount } from 'svelte';
	import {
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { TrashBinSolid } from 'flowbite-svelte-icons';
	import { toast } from '@zerodevx/svelte-toast';
	import { Button, Modal } from 'flowbite-svelte';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';

	onMount(() => {
		setup_categories();
	});
	import AddCategory from '$lib/AddCategory.svelte';
	import type { Category } from '$lib/bindings/Category';
	import type { Meal } from '$lib/bindings/Meal';

	async function delete_category(category: Category): Promise<void> {
		if (category.id === null) {
			return;
		}
		const quant = get_quantity(category);
		if (quant != 0) {
			console.log(quant);
			toast.push('Cannot delete a non empty category');
			return;
		}
		popup_modal = true;
		category_to_delete = category.id;
	}

	async function delete_category_no_confirmation() {
		(
			await call_backend(
				'DELETE',
				`/category/${category_to_delete}`,
				null,
				'Failed to delete category',
				true
			)
		).expect('Failed to delete category');
		setup_categories();
	}

	async function setup_categories() {
		let meals = (await get_meals()).expect('Failed to get meals');
		categories = (await get_categories()).expect('Failed to get categories');

		categories.forEach((x: Category) => {
			if (x.id == null) {
				return;
			}
			let quant = meals.reduce(
				(acc: number, cur: Meal) => (acc += Number(cur.category_id == x.id)),
				0
			);
			quantities.set(x.id, quant);
		});
	}

	function get_quantity(category: Category): number {
		if (category.id === null) {
			throw 'Should not happen';
		}
		const quant = quantities.get(category.id);
		if (quant === undefined) {
			throw 'Should not happen';
		}
		return quant;
	}

	let quantities: Map<number, number> = new Map();
	let category_to_delete: null | number = null;
	let popup_modal = false;
	let categories: Category[] = [];
	let searchTerm: string = '';
	$: filteredCategories = categories.filter(
		(category) => category.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1
	);
</script>

<div>
	<Modal
		bind:open={popup_modal}
		size="xs"
		autoclose
	>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				Are you sure you want to delete this category?
			</h3>
			<Button
				on:click={delete_category_no_confirmation}
				color="red"
				class="me-2">Yes, I'm sure</Button
			>
			<Button
				on:click={() => {
					category_to_delete = null;
				}}
				color="alternative">No, cancel</Button
			>
		</div>
	</Modal>
	<AddCategory />
	<TableSearch
		placeholder="Search by name"
		hoverable={true}
		bind:inputValue={searchTerm}
	>
		<TableHead>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Quantity</TableHeadCell>
			<TableHeadCell></TableHeadCell>
		</TableHead>
		<TableBody>
			{#each filteredCategories as category}
				<TableBodyRow>
					<TableBodyCell>{category.name}</TableBodyCell>
					<TableBodyCell>{get_quantity(category)}</TableBodyCell>
					<TableBodyCell>
						<div on:click={() => delete_category(category)}>
							<TrashBinSolid />
						</div>
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>
