<script lang="ts">
	import { Button, Modal, Label, Input, Select } from 'flowbite-svelte';
	import { all_months, call_backend } from '$lib/utils';
	import type { Ingredient } from './bindings/Ingredient';
	import { SelectItem } from '$lib/utils';

	async function submit() {
		(
			await call_backend('PUT', '/ingredient', ingredient, 'Failed to create new ingredient')
		).expect('Failed to create new ingredient');
		location.reload();
	}

	let form_modal = false;
	let ingredient: Ingredient = {
		id: null,
		name: '',
		month_start: 0,
		month_end: 0,
		unit: ''
	};
	$: select_month = all_months.map((x, i) => {
		return new SelectItem(x, i);
	});
</script>

<span>
	<Button on:click={() => (form_modal = true)}>Add Ingredient</Button>

	<Modal
		bind:open={form_modal}
		size="xs"
		autoclose={false}
		class="w-full"
	>
		<form
			class="flex flex-col space-y-6"
			action="#"
		>
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add a new ingredient</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input
					type="text"
					name="name"
					bind:value={ingredient.name}
					required
				/>
			</Label>
			<Label class="space-y-2">
				<span>Month Start</span>
				<Select
					class="mt-2"
					items={select_month}
					bind:value={ingredient.month_start}
				/>
			</Label>
			<Label class="space-y-2">
				<span>Month End</span>
				<Select
					class="mt-2"
					items={select_month}
					bind:value={ingredient.month_end}
				/>
			</Label>

			<Label class="space-y-2">
				<span>Unit</span>
				<Input
					type="text"
					name="name"
					bind:value={ingredient.unit}
					required
				/>
			</Label>
			<Button
				type="submit"
				on:click={submit}
				class="w-full1">Add</Button
			>
		</form>
	</Modal>
</span>
