<script lang="ts">
	import { Select, Button, Modal, Label, Input, Checkbox, Hr, Textarea } from 'flowbite-svelte';
	import {
		call_backend,
		SelectItem,
		get_meal_ingredients,
		get_ingredients as query_get_ingredients,
		add_ingredient as query_add_ingredient,
		try_delete_meal_ingredient
	} from '$lib/utils';
	import type { Meal } from '$lib/bindings/Meal';
	import type { Category } from './bindings/Category';
	import type { Ingredient } from './bindings/Ingredient';
	import type { MealIngredient } from './bindings/MealIngredient';
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import type { Try } from './error';

	onMount(() => {
		init();
	});

	async function init() {
		all_ingredients = (await query_get_ingredients()).expect('Failed to get ingredients');
	}

	async function set_meal(meal: Meal): Promise<Try<number>> {
		return await call_backend('PUT', '/meal', meal, 'Failed to create new meal');
	}

	async function submit(): Promise<void> {
		let meal_id = (await set_meal(meal)).expect('Failed to create new meal');
		for (const meal_ingredient of meal_ingredients) {
			if (meal_id === null || meal_ingredient.ingredient_id === null) {
				toast.push('A meal or an ingredient is null');
				continue;
			}
			meal_ingredient.meal_id = meal_id;
			meal_ingredient.quantity = Number(meal_ingredient.quantity);
			(await query_add_ingredient(meal_ingredient)).expect('Failed to add ingredient');
		}

		location.reload();
	}

	function get_ingredient_by_id(id: number): Ingredient | undefined {
		return all_ingredients.find((el) => el.id == id);
	}

	async function remove_ingredient(item: MealIngredient) {
		meal_ingredients = meal_ingredients.filter((x) => x != item);
		let resp = await try_delete_meal_ingredient(item);
		if (resp.ok) {
			toast.push('Ingredient successfully removed');
		}
	}

	function get_ingredient_index(id: number): number | undefined {
		return all_ingredients.findIndex((el) => el.id == id);
	}

	async function get_ingredients(meal: Meal | null): Promise<void> {
		if (meal != null && meal.id != null) {
			meal_ingredients = (await get_meal_ingredients(meal.id)).expect('Failed to get ingredients');
		}
	}

	function update_ingredient(event: Event, index: number) {
		let new_meal_ingredient = {
			ingredient_id: -1,
			meal_id: -1,
			quantity: 1
		};

		// @ts-expect-error linter is not aware of additional fields
		let select_index = event.target.options.selectedIndex;
		if (meal === null) {
			toast.push('Meal is null, should not happen');
			return;
		}
		let current_ingredient = all_ingredients[select_index - 1];
		if (current_ingredient === null) {
			toast.push('Current ingredient is null, should not happen');
			return;
		}

		if (current_ingredient.id != null) {
			new_meal_ingredient.ingredient_id = current_ingredient.id;
		}
		if (meal.id !== null) {
			new_meal_ingredient.meal_id = meal.id;
		}

		meal_ingredients[index] = new_meal_ingredient;
	}

	function add_ingredient() {
		let item: MealIngredient = {
			meal_id: -1,
			ingredient_id: -1,
			quantity: 1
		};
		meal_ingredients.push(item);
		meal_ingredients = meal_ingredients;
	}

	export let open = false;
	export let categories: Category[] = [];
	export let meal: Meal = {
		id: null,
		name: '',
		light: true,
		meat: true,
		month_start: 0,
		month_end: 0,
		source: '',
		recipe: '',
		category_id: 0
	};
	let meal_ingredients: MealIngredient[] = [];

	let all_ingredients: Ingredient[] = [];
	$: select_all_ingredients = all_ingredients.map((x, i) => new SelectItem(x.name, i));

	$: get_ingredients(meal);

	$: select_categories = categories.map((x) => {
		if (x.id === null) {
			throw 'Should not happen';
		}
		return new SelectItem(x.name, Number(x.id));
	});
</script>

<span>
	<Button on:click={() => (open = true)}>Add meal</Button>

	<Modal
		bind:open
		size="xs"
		autoclose={false}
		class="w-full"
	>
		<form
			class="flex flex-col space-y-6"
			action="#"
		>
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add a new meal</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input
					type="text"
					name="name"
					bind:value={meal.name}
					required
				/>
			</Label>
			<div class="flex gap-3">
				<Checkbox bind:checked={meal.light}>Light</Checkbox>
				<Checkbox bind:checked={meal.meat}>Meat</Checkbox>
			</div>
			<Label class="space-y-2">
				<span>Source</span>
				<Input
					type="text"
					name="source"
					bind:value={meal.source}
					required
				/>
			</Label>
			<Label class="space-y-2">
				<span>Category</span>
				<Select
					class="mt-2"
					items={select_categories}
					bind:value={meal.category_id}
				/>
			</Label>
			<Label class="space-y-2">
				<span>Recipe</span>
				<Textarea bind:value={meal.recipe} />
			</Label>

			<Label class="space-y-2">
				<span>Ingredients</span>
			</Label>
			{#each meal_ingredients as meal_ingredient, i}
				{@const ingredient = get_ingredient_by_id(meal_ingredient.ingredient_id)}
				{@const ingredient_index = get_ingredient_index(meal_ingredient.ingredient_id)}
				{#if i !== 0}
					<Hr />
				{/if}
				<Select
					class="mt-2"
					items={select_all_ingredients}
					on:change={(event) => update_ingredient(event, i)}
					value={ingredient_index}
				/>
				<Label class="space-y-2">
					<span>
						Quantity for 1 person
						{#if ingredient?.unit.length !== 0 && ingredient?.unit !== undefined}
							({ingredient?.unit})
						{/if}
					</span>
					<Input
						type="number"
						bind:value={meal_ingredient.quantity}
					/>
				</Label>
				<Button on:click={() => remove_ingredient(meal_ingredient)}>Remove Ingredient</Button>
			{/each}
			<Button on:click={add_ingredient}>Add Ingredient</Button>
			<Button
				on:click={submit}
				type="submit"
				class="w-full1">Add</Button
			>
		</form>
	</Modal>
</span>
